name: Deploy to Liara

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Liara
        uses: liara-ir/github-action@v1
        with:
          liara-token: ${{ secrets.LIARA_API_TOKEN }}
          app-name: zahrasari-havirkesht