name: CD-Liara

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install Liara CLI
        run: npm i -g @liara/cli@9
      
      - name: Deploy to Liara
        env:
          LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          liara deploy --app="zahrasari-havirkesht" --api-token="$LIARA_TOKEN" --region="iran" --no-app-logs

